registry=https://registry.npmjs.org/
strict-ssl=true
ignore-scripts=true

; registry.npmjs.org/:_authToken=${NPM_TOKEN}

; cafile=/etc/ssl/certs/corporate-root-ca.pem

; //npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_TOKEN}

